div#todo-list-container {
    width: 40%;
    height: 80%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

div#todo-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}