div#todo-list-container {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

div#todo-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    letter-spacing: 10px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: var(--heading-text-color);
}

div#todo-list-header > img:hover {
    cursor: pointer;
}

div#todo-list-items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

div#todo-list-items-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

div#todo-list-items-details-container:hover {
    overflow-y: auto;
}

div#todo-list-items-status-container {
    background-color: var(--component-bg-color);
    padding: 0 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--component-faded-text-color);
}

div.icon-circle {
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    margin: 0px 5px;
    border: 2px solid darkgray;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.icon-circle:hover {
    cursor: pointer;
    border-color: var(--bright-blue);
}

div#todo-list-items-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p.todo-list-items-filter:hover {
    cursor: pointer;
    color: var(--component-hover-text-color);
}

p.todo-list-items-filter-selected {
    color: var(--component-selected-text-color);
}

div#todo-list-items-filter-container-mobile {
    display: none;
}

div#todo-list-items-status-container-mobile {
    display: none;
}

@media screen and (max-width: 992px) {
    div#todo-list-container {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    div#todo-list-container {
        width: 90%;
    }

    div#todo-list-items-status-container {
        display: none;
    }

    div#todo-list-items-status-container-mobile {
        background-color: var(--component-bg-color);
        padding: 0 10px;
        width: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var(--component-faded-text-color);
    }

    div#todo-list-items-filter-container-mobile {
        background-color: var(--component-bg-color);
        padding: 0 10px;
        width: calc(100% - 20px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        color: var(--component-faded-text-color);
    }

    
}