@font-face {
  font-family: "JosephinSans";
  src: url("fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'JosephinSans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {

  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background-gradient1: hsl(192, 100%, 67%);
  --check-background-gradient2: hsl(280, 87%, 65%);

  /* Background image */
  --bg-image: url("../images/bg-desktop-dark.jpg");

  /* Dark Mode colors */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --Light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);


  /* Dark Mode variables */
  --app-bg-color: var(--very-dark-blue);
  --component-bg-color: var(--very-dark-desaturated-blue);
  --component-faded-text-color: var(--dark-grayish-blue);
  --component-hover-text-color: var(--Light-grayish-blue-hover);
  --component-selected-text-color: var(--bright-blue);
  --heading-text-color: var(--light-grayish-blue);
  --text-color: var(--light-grayish-blue);
  --font-size: 14px;

  /* Light Mode colors */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);
}

body.light-mode {
  --app-bg-color: var(--very-light-grayish-blue);
  --component-bg-color: var(--very-light-gray);
  --component-faded-text-color: var(--dark-grayish-blue);
  --component-hover-text-color: var(--very-dark-grayish-blue);
  --component-selected-text-color: var(--bright-blue);
  --text-color: var(--very-dark-blue);
  --bg-image: url("../images/bg-desktop-light.jpg");
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid rgb(7, 118, 228);
}

@media screen and (max-width: 576px) {
  :root {
    --bg-image: url("../images/bg-mobile-dark.jpg");
  }

  body.light-mode {
    --bg-image: url("../images/bg-mobile-light.jpg");
  }
}